<!DOCTYPE html>
<html>
<head>
  <title>Umineco</title>
  <script src='/bundle.js' defer></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="user-info">
    <% if user_signed_in? %>
      <%= current_user.name %>
      [<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>]
    <% else %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </div>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

<%= yield %>

</body>
</html>
